<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title></title>

  <!-- /*this portion supports survey view in handlebars*/ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascript/logic.js"></script>

  <!-- /*custom css*/ -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<!-- maybe convert this whole file to handlebars -->
<body>

<header class="masthead">
  <div class="JESlogo">
    <ul class="voad-navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/register">Login</a></li>
      <li><a href="/members">Member Orgs</a></li>
      <div></div>
  </ul>
  </div>

{{{ body }}}

</header><!-- .masthead -->

  <!-- <section class="more grid">
    <div class="more-content">
      <h2 class="content-title">Subgrid would be nice here</h2>
      <p>If we need this section, we can use it.<p>
    </div>
  </section> -->

</main>

<footer class="JEScolophon">
  <div class="site-footer-social">
    <div>
      <a href="https://twitter.com/nationalvoad/">
              <img alt="twitter" src="assets/media/social-twitter.svg">
              <span class="a11y-sr-only"></span>
            </a>
    </div>
    <div>
      <a href="https://www.facebook.com/NVOAD/">
              <img alt="facebook" src="assets/media/social-facebook.svg">
              <span class="a11y-sr-only"></span>
            </a>
    </div>
    <div>
      <a href="https://www.youtube.com/channel/UCvBA8K70vuSlakwxZNui0yg">
              <img alt="youtube" src="assets/media/social-youtube.svg">
              <span class="a11y-sr-only"></span>
            </a>
    </div>
    <div>
      <a href="https://www.instagram.com/nationalvoad/">
              <img alt="instagram" src="assets/media/social-instagram.svg">
              <span class="a11y-sr-only"></span>
            </a>
    </div>
  </div>
</footer>

<section class="buckets grid">
  <ul>
    <li>
      <img src="https://source.unsplash.com/w3lQVmuK8fw/600x400" alt="">
      <div class="bucket">
        <h3 class="bucket-title">Dev Team</h3>
        <p>Jen, Nathan, Jon, Jamal</p>
      </div>
    </li>
  </ul>
</section>

</body>

</html>
