<div id="nav-space">
  <div id="home-button"></div>
  <div id="about-button"></div>
  <div id="login-button"></div>
  <div id="mem-orgs-button"></div>
</div>

<div> 
  <img alt="splash-pic" src="public/assets/media/FDAR.jpg">
</div>

<div class="site-footer-social">
  <div>
    <a href="https://twitter.com/nationalvoad/">
          <img alt="twitter" src="public/assets/media/social-twitter.svg">
          <span class="a11y-sr-only"></span>
        </a>
  </div>
  <div>
    <a href="https://www.facebook.com/NVOAD/">
          <img alt="facebook" src="public/assets/media/social-facebook.svg">
          <span class="a11y-sr-only"></span>
        </a>
  </div>
  <div>
    <a href="https://www.youtube.com/channel/UCvBA8K70vuSlakwxZNui0yg">
          <img alt="youtube" src="public/assets/media/social-youtube.svg">
          <span class="a11y-sr-only"></span>
        </a>
  </div>
  <div>
    <a href="https://www.instagram.com/nationalvoad/">
          <img alt="instagram" src="public/assets/media/social-instagram.svg">
          <span class="a11y-sr-only"></span>
        </a>
  </div>
</div>

<div id="team">
  //insert team photos here and GH links
</div>
