<ul>
<li>Adventist Community Services</li>
<li><a href="/en/All_Hands_Volunteers" title="All Hands Volunteers" class="int-link">All Hands Volunteers</a></li>
<li>American Baptist Men</li>
<li><a href="/en/American_Radio_Relay_League" title="American Radio Relay League" class="int-link">American Radio Relay League</a></li>
<li><a href="/en/American_Red_Cross" title="American Red Cross" class="int-link">American Red Cross</a></li>
<li><a href="/en/Brethren_Disaster_Ministries" class="mw-redirect int-link" title="Brethren Disaster Ministries">Brethren Disaster Ministries</a></li>
<li><a href="/en/Catholic_Charities,_USA" class="mw-redirect int-link" title="Catholic Charities, USA">Catholic Charities, USA</a></li>
<li>Christian Disaster Response International</li>
<li>Christian Reformed World Relief Committee</li>
<li><a href="/en/Church_World_Service" title="Church World Service" class="int-link">Church World Service</a></li>
<li>Church of Scientology Disaster Response (also known as <a href="/en/Volunteer_Ministers" title="Volunteer Ministers" class="int-link">Volunteer Ministers</a>)</li>
<li>City Team Ministries</li>
<li><a href="/en/Convoy_of_Hope" title="Convoy of Hope" class="int-link">Convoy of Hope</a></li>
<li><a href="/en/Episcopal_Relief_and_Development" class="mw-redirect int-link" title="Episcopal Relief and Development">Episcopal Relief and Development</a></li>
<li><a href="/en/Feeding_America" title="Feeding America" class="int-link">Feeding America</a> (Formerly America's Second Harvest)</li>
<li><a href="/en/Feed_the_Children" title="Feed the Children" class="int-link">Feed the Children</a></li>
<li><a href="/en/Habitat_for_Humanity_International" class="mw-redirect int-link" title="Habitat for Humanity International">Habitat for Humanity International</a></li>
<li>Headwaters Relief Organization</li>
<li>Hope Coalition America</li>
<li><a href="/en/The_Humane_Society_of_the_United_States" title="The Humane Society of the United States" class="int-link">The Humane Society of the United States</a></li>
<li><a href="/en/International_Aid" class="mw-redirect int-link" title="International Aid">International Aid</a></li>
<li>International Critical Incident Stress Foundation</li>
<li>International Organization for Victim Assistance</li>
<li>International Relief and Development</li>
<li>International Relief Friendship Foundation</li>
<li><a href="/en/Jewish_Federations_of_North_America" title="" class="int-link">Jewish Federations of North America</a></li>
<li><a href="/en/Latter-Day_Saint_Charities" class="mw-redirect int-link" title="Latter-Day Saint Charities">Latter-Day Saint Charities</a><sup id="cite_ref-6" class="reference"><a href="#citenote6" class="anch-link">[6]</a></sup></li>
<li>Lutheran Disaster Response</li>
<li><a href="/en/Mennonite_Disaster_Service" title="Mennonite Disaster Service" class="int-link">Mennonite Disaster Service</a></li>
<li><a href="/en/Citizen_Corps#Mercy_Medical_Airlift" title="Citizen Corps" class="int-link">Mercy Medical Airlift</a>/<a href="/en/Angel_Flight" title="Angel Flight" class="int-link">Angel Flight America</a></li>
<li><a href="/en/National_Association_of_Jewish_Chaplains" class="mw-redirect int-link" title="National Association of Jewish Chaplains">National Association of Jewish Chaplains</a></li>
<li>National Organization for Victim Assistance</li>
<li>Nazarene Disaster Response</li>
<li><a href="/en/Noah%27s_Wish" title="Noah's Wish" class="int-link">Noah's Wish</a> - Animal Disaster Response</li>
<li><a href="/en/Operation_Blessing" class="mw-redirect int-link" title="Operation Blessing">Operation Blessing</a></li>
<li>Presbyterian Disaster Assistance</li>
<li><a href="/en/Radio_Emergency_Associated_Communication_Teams" title="Radio Emergency Associated Communication Teams" class="int-link">REACT International</a></li>
<li><a href="/en/The_Salvation_Army" title="The Salvation Army" class="int-link">The Salvation Army</a></li>
<li><a href="/en/Samaritan%E2%80%99s_Purse" class="mw-redirect int-link" title="Samaritan’s Purse">Samaritan’s Purse</a></li>
<li><a href="/en/Save_the_Children" title="Save the Children" class="int-link">Save the Children</a></li>
<li><a href="/en/Society_of_St._Vincent_de_Paul" class="mw-redirect int-link" title="Society of St. Vincent de Paul">Society of St. Vincent de Paul</a></li>
<li><a href="/en/Southern_Baptist_Convention" title="Southern Baptist Convention" class="int-link">Southern Baptist Convention</a> –North American Mission Board</li>
<li>Taiwan Buddhist Tzu Chi Foundation USA</li>
<li><a href="/en/United_Church_of_Christ" title="United Church of Christ" class="int-link">United Church of Christ</a> –Wider Church Ministries</li>
<li><a href="/en/United_Methodist_Committee_on_Relief" title="United Methodist Committee on Relief" class="int-link">United Methodist Committee on Relief</a> (UMCOR)</li>
<li><a href="/en/United_Way_of_America" title="United Way of America" class="int-link">United Way of America</a></li>
<li><a href="/en/Volunteers_of_America" title="Volunteers of America" class="int-link">Volunteers of America</a></li>
<li><a href="/en/World_Vision_International" title="World Vision International" class="int-link">World Vision</a></li>
</ul>
