body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f2f9fe;
  background: -moz-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%) /* FF3.6+ */;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd)) /* Chrome,Safari4+ */;
  background: -webkit-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%) /* Chrome10+,Safari5.1+ */;
  background: -o-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%) /* Opera 12+ */;
  background: -ms-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%) /* IE10+ */;
  background: radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%) /* W3C */;
}
h2 {
  margin: 0 0 6px 0;
  font-weight: bold;
}
h6 {
  margin: 2px 0 20px 0;
}
hr {
  margin: 14px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
ul {
  margin: 4px 0 0 0;
}
label,
h6 {
  color: #808080;
  font-size: 13px;
  font-weight: normal;
  text-shadow: -1px 1px 0 #fff;
}
.well {
  background: #f8f8f8;
  margin-bottom: 0;
}
.well .tab-title {
  float: left;
  margin-left: 10px;
}
.well .button-top-right {
  float: right;
  margin: 0 10px 20px 0;
}
.navbar-btn {
  min-width: 100px;
  margin-right: 8px;
}
.navbar-btn .btn {
  min-width: 100px;
}
.glyphicon {
  margin-right: 8px;
}
/*
	login window
*/
#login label {
  margin-left: 2px;
}
#login form {
  width: 320px;
}
#login .controls {
  margin-top: 20px;
}
#login .controls .button-rememember-me {
  float: left;
  width: 150px;
}
#login .controls .button-sign-in {
  float: right;
  width: 120px;
}
#login .btm-links {
  font-size: 0.9em;
  margin: 2px 0 0 0;
}
#login .btm-links #forgot-password {
  float: left;
  margin-left: 10px;
}
#login .btm-links #create-account {
  float: right;
  margin-right: 5px;
}
#account-form-container form {
  width: 460px;
}
/*
	modal windows
*/
.modal .modal-dialog {
  width: 480px;
}
.modal .form-group {
  margin-bottom: 0px;
}
.modal .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px;
}
.modal .alert-dismissable,
.modal .close {
  right: -4px;
}
.modal p {
  margin: 0;
  padding: 0;
}
.modal .modal-footer button {
  width: 80px;
}
.center-vertical {
  height: 100vh;
}
.center-vertical form {
  top: 50%;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-horizontal .form-buttons {
  float: right;
}
.form-horizontal .form-buttons .btn {
  width: 80px;
  margin-left: 6px;
}
.form-horizontal input,
.form-horizontal select {
  height: 30px;
}

















/*body{*/
  /* margin: 0;
  padding: 0;
  position: relative;
  background: #bfc2c2; */
  /*background-image: url("0B80BAAB-8FF5-4894-B448-A480051E7F28-1-192x128.png");*/
/*}
nav{
  width: 100%;
  height: 99px;
  position: relative;*/
  /*this one (is)had background:*/
  /*background: #ff7f00;
  box-shadow: 0px 2px 8px 0px #333;
  padding-left: 100px;

}
.nav-container{
  width: 1000px;
  margin: 0 auto;
  position: relative;*/
  /*this one had background:*/
/*

}
.nav-container>.logo{
  width: 200px;
  height: 65px;
  background: #fff;
  float: left;
}
.menu{
  width: 100%;
  height: 65px;*/
  /*this one had background:*/

/*}
.menu>.menu-content{
  width: 200px;
  height: 65px;
  float: right;
  font-family: sans-serif, Arial;
  font-size: 16px;
  font-weight: bold;letter-spacing: -0.05em;
  position: relative;
  color: #fff;
  line-height: 78px;
  padding-right: 72;
}
.menu>.menu-content>a{
  color: #fff;
  text-decoration: none;*/
}
/* .arrow-up{
  width: 0;
  height: 0;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid #fff;
  right: 153px;
  top: 50px;
  display: none;
} */
/*.login-form{
  position: absolute;
  width: 300px;
  height: auto;
  background: #fff;
  right: 61px;
  top: 116px;
  border-radius: 3px;
  border-bottom: 5px solid gray;
  display: none;

}
.login-form>form{
  width: 250px;
  margin: 25px auto;
  font-size: 20px;
  font-family: sans-serif,Arial;
  color: gray;
  letter-spacing: -0.05em;
}
input[type="text"],
input[type="password"]{
  width: 240px;
  height: 30px;
  border: 0px;
  outline: none;
  box-shadow: insert 0 0 10px #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: sans-serif,Arial;
  font-size: 16px;
}
input[type="submit"]{
  width: 95%;
  height: 35px;
  background: #ff7f00;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif,Arial;
  color: white;
  outline: none;
  border: 0px;
  border-radius: 3px;
  letter-spacing: -0.05em;
  cursor: pointer;
}
input[type="submit"]:hover{
  background: #ff5800;
}
.fa{
  margin-right: 5px;
}
.register-form{
  position: absolute;
  width: 300px;
  height: auto;
  background: #fff;
  right: 61px;
  top: 62px;
  border-radius: 3px;
  border-bottom: 5px solid gray;
  display: none;

}
.register-form>form{
  width: 250px;
  margin: 25px auto;
  font-size: 20px;
  font-family: sans-serif,Arial;
  color: gray;
  letter-spacing: -0.05em;
}*/
